<div class="stack">
  <p><a routerLink="/social">Back to blogs</a></p>

  @if (error()) {
    <p class="error">{{ error() }}</p>
  }

  @if (blogs.detail.isLoading()) {
    <p>Loading blog...</p>
  } @else if (blogs.detail.error()) {
    <p class="error">Could not load the blog. Log in and try again.</p>
  } @else {
    @if (blogs.detail.value(); as blog) {
      <h1>{{ blog.title }}</h1>

      <p>{{ blog.description }}</p>

      <p class="meta">Status: {{ blog.status }}</p>

      <app-blog-comments
        [comments]="blog.comments"
        [currentUserId]="auth.user()?.id ?? null"
        (addComment)="add($event)"
        (editComment)="edit($event)"
        (deleteComment)="remove($event)"
      />
    }
  }
</div>
